<template>
  <div>
    <h5>Adicionar Produto</h5>

    <form @submit.prevent="save()">
      <q-field
        :count="100"
        helper="Titulo do Produto"
      >
        <q-input v-model="product.title" required />
      </q-field>

      <q-field
        :count="1200"
        helper="Descrição do Produto"
      >
        <q-input v-model="product.description" required />
      </q-field>

      <q-field
        type="number"
        helper="Preço do Produto"
      >
        <q-input v-model="product.price" required />
      </q-field>

      <q-field>
        <q-select
          float-label="Categoria"
          v-model="product.categories_id"
          :options="categories"
        />
      </q-field>

      <q-btn loader type="submit" color="primary">
        Salvar
        <span slot="loading" v-show="loading" >
          <q-spinner-hourglass class="on-left" />
          Salvando...
        </span>
      </q-btn>
      <br>

    </form>
  </div>
</template>

<script>
  import { Toast, QField, QToggle, QDatetime, QOptionGroup, QInput, QSelect, QChipsInput, QRating, QBtn, QIcon, QSpinnerRadio, QSpinnerHourglass, QSpinnerFacebook, QSpinnerGears } from 'quasar'

  export default {
    components: {
      Toast,
      QField,
      QToggle,
      QDatetime,
      QOptionGroup,
      QInput,
      QSelect,
      QChipsInput,
      QRating,
      QBtn,
      QIcon,
      QSpinnerRadio,
      QSpinnerHourglass,
      QSpinnerFacebook,
      QSpinnerGears
    },
    computed: {
      product () {
        return this.$store.state.products.one || {}
      }
    },
    methods: {
      save () {
        let data = {
          title: this.product.title,
          price: this.product.price,
          description: this.product.description,
          categories_id: 1
        }
        this.$store.dispatch('productsInsert', data)
          .then((response) => {
            this.loading = false

            Toast.create.positive({
              html: 'Criado com sucesso',
              icon: 'done',
              onDismiss: () => {
                console.log('erro')
              }
            })
          })
          .catch(() => {
            Toast.create.negative({
              html: 'Erro ao criar o produto.',
              icon: 'cancel'
            })
          })
      }
    },
    data () {
      return {
        categories: [ { id: 1, label: 'True Hue' } ]
      }
    }
  }
</script>
