<template>
  <div>
    <h5>Editar produto</h5>

    <form @submit.prevent="save()">      
      <q-field
        :count="100"
        helper="Titulo do Produto"
      >
        <q-input v-model="product.title" required />
      </q-field>

      <q-field
        :count="1200"
        helper="Descrição do Produto"
      >
        <q-input v-model="product.description" required />
      </q-field>

      <q-field        
        type="number"
        helper="Preço do Produto"
      >
        <q-input v-model="product.price" required />
      </q-field>

      <!--q-field
        icon="place"
        label="Meeting city"
        helper="Pick a city"
      >
        <q-select
          float-label="Categoria"
          v-model="product.categories_id"
          :options="product.categories"
        />
      </q-field-->

      <q-btn loader type="submit" color="primary">
        Atualizar
        <span slot="loading">
          <q-spinner-hourglass class="on-left" />
          Atualizando...
        </span>
      </q-btn>
      <br>

    </form>
  </div>
</template>

<script>
  import { Toast, QField, QToggle, QDatetime, QOptionGroup, QInput, QSelect, QChipsInput, QRating, QBtn, QIcon, QSpinnerRadio, QSpinnerHourglass, QSpinnerFacebook, QSpinnerGears } from 'quasar'
  
  export default {
    components: {
      Toast,
      QField,
      QToggle,
      QDatetime,
      QOptionGroup,
      QInput,
      QSelect,
      QChipsInput,
      QRating,
      QBtn,
      QIcon,
      QSpinnerRadio,
      QSpinnerHourglass,
      QSpinnerFacebook,
      QSpinnerGears
    },
    computed: {
      product () {
        return this.$store.state.products.one || {}
      }
    },
    methods: {
      save () {
        let data = {
          title: this.product.title,
          price: this.product.price,
          description: this.product.description
        }
        this.$store.dispatch('productsUpdate', {id: this.$route.params.id, data: data})
          .then(() => {
            this.$store.dispatch('productsGet', this.$route.params.id)
            this.loading = false
            Toast.create.positive({
              html: 'Atualizado com sucesso',
              icon: 'done',
              onDismiss: () => {
                console.log('erro')
              }
            })
          })
          .catch(() => {
            Toast.create.negative({
              html: 'Não pode ser atualizado',
              icon: 'cancel'
            })
          })
      }
    },
    data () {
      return {

      }
    }
  }
</script>
