<template>
  <div>
     <h1>Produtos</h1>
     <q-btn color="secondary" icon="plus" @click="openModal('/produtos/add')">
        Add Produto
    </q-btn>

    <q-modal ref="ModalEdit" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn flat @click="closeModal()">
            <q-icon name="keyboard_arrow_left" />
          </q-btn>
          <q-toolbar-title>
            Adicionar Produto
          </q-toolbar-title>
        </q-toolbar>

        <!--q-toolbar slot="header">
          <q-search inverted v-model="search" color="none"></q-search>
        </q-toolbar-->

        <div class="layout-padding">
          <router-view></router-view>
        </div>

        <q-toolbar slot="footer">
          <q-toolbar-title>

          </q-toolbar-title>
        </q-toolbar>
      </q-modal-layout>
    </q-modal>

     <q-data-table :data="products" :config="config" :columns="columns" >
      <template slot="col-categories" slot-scope="cell">
        <span>{{cell.row.categories.title}}</span>
      </template>
      <template slot="col-created_at" slot-scope="cell">
        <span>{{ cell.row.created_at | moment }}</span>
      </template>
      <template slot="selection" slot-scope="selection">
        <q-btn color="secondary" icon="remove_red_eye" @click="goTo(selection)">
            Visualizar Produto
        </q-btn>
      </template>
     </q-data-table>
 </div>
</template>

<script>
import { QDataTable, QBtn, QIcon, QModal, QModalLayout, QToolbarTitle, QToolbar, QSpinnerRadio, QSpinnerHourglass, QSpinnerFacebook, QSpinnerGears } from 'quasar'
import moment from 'moment'
export default {
  components: { QDataTable, QBtn, QIcon, QModal, QModalLayout, QToolbarTitle, QToolbar, QSpinnerRadio, QSpinnerHourglass, QSpinnerFacebook, QSpinnerGears },
  data () {
    return {
      config: { responsive: true, selection: 'single', columnPicker: true, pagination: { rowsPerPage: 15, options: [5, 10, 15, 30, 50, 500] } },
      columns:
      [
        { label: 'Titulo', field: 'title', width: '100px', sort: true, filter: true },
        { label: 'Descrição', field: 'description', width: '100px', sort: true, filter: true },
        { label: 'Categoria', field: 'categories', width: '100px', sort: true, filter: true },
        { label: 'Preço', field: 'price', width: '100px', sort: true, filter: true },
        { label: 'Data de Cadastro', field: 'created_at', width: '100px', sort: true, filter: true }
      ]
    }
  },
  computed: {
    products () {
      return this.$store.state.products.list
    }
  },
  methods: {
    goTo (item) {
      let id = item.rows[0].data.id
      return this.$router.push('/produtos/' + id)
    },
    openModal (url) {
      this.$router.push(url)
      this.$refs.ModalEdit.open()
    },
    closeModal () {
      this.$refs.ModalEdit.close()
    }
  },
  mounted () {
    this.$store.dispatch('productsList')
  },
  filters: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY hh:mm')
    }
  }
}
</script>

<style>
  td{
    height: 38px !important;
  }
</style>
