<template>
  <div>
    <h4>
      Detalhes do Produto
      <q-fab
        color="black"
        icon="keyboard_arrow_right"
        direction="right"
      >
        <q-fab-action
        color="primary"
        icon="arrow_back"
        @click="goUrl('/produtos')"
        />
        <q-fab-action
        color="secondary"
        icon="edit"
        @click="openModal('/produtos/'+products.id+'/edit')"
        />
      </q-fab>
    </h4>

    <q-modal ref="ModalEdit" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
      <q-modal-layout>
        <q-toolbar slot="header">
          <q-btn flat @click="closeModal()">
            <q-icon name="keyboard_arrow_left" />
          </q-btn>
          <q-toolbar-title>
            Editar Produto
          </q-toolbar-title>
        </q-toolbar>

        <!--q-toolbar slot="header">
          <q-search inverted v-model="search" color="none"></q-search>
        </q-toolbar-->

        <div class="layout-padding">
          <router-view></router-view>

          <q-btn color="primary" @click="closeModal()">Close</q-btn>

        </div>

        <q-toolbar slot="footer">
          <q-toolbar-title>

          </q-toolbar-title>
        </q-toolbar>
      </q-modal-layout>
    </q-modal>

    <table class="q-table responsive">
      <tbody>
        <tr>
          <th>Nome</th>
          <td>{{ products.title }}</td>
        </tr>
        <tr>
          <th>Descrição</th>
          <td>{{ products.description }}</td>
        </tr>
        <tr>
          <th>Preço</th>
          <td>R$ {{ products.price }}</td>
        </tr>
        <tr>
          <th>Categoria</th>
          <td>{{ products.categories.title }}</td>
        </tr>
        <tr>
          <th>Data da Criação</th>
          <td>{{ products.created_at | moment }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import { QFab, QFabAction, Toast, Ripple, QBtn, QIcon, QModal, QModalLayout, QToolbar, QToolbarTitle, QSearch, QList, QItem, QItemSide, QItemMain } from 'quasar'
import moment from 'moment'

export default {
  components: { QFab, QFabAction, Toast, Ripple, QBtn, QIcon, QModal, QModalLayout, QToolbar, QToolbarTitle, QSearch, QList, QItem, QItemSide, QItemMain },
  data () {
    return {}
  },
  computed: {
    products () {
      return this.$store.state.products.one || {}
    }
  },
  mounted () {
    this.$store.dispatch('productsGet', this.$route.params.id)
  },
  methods: {
    goUrl (url) {
      return this.$router.push(url)
    },
    openModal (url) {
      this.$router.push(url)
      this.$refs.ModalEdit.open()
    },
    closeModal () {
      this.$router.push('/produtos/' + this.products.id)
      this.$refs.ModalEdit.close()
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).format('DD/MM/YYYY hh:mm')
    }
  }
}
</script>

<style>
</style>
