<template>
<div>
  <h4>Gerenciamento de Estoque</h4>

  <div class="row">

    <div class="width-offset-1of6 width-2of6">
      <donut-chart id="donut" :data="donutData" colors='[ "#FF6384", "#36A2EB", "#FFCE56" ]' resize="true"></donut-chart>
    </div>
  </div>

  <bar-chart id="bar" :data="barData" :xkey="'year'" :ykeys="barYKeys" :labels="labels" :bar-colors='[ "#FF6384", "#36A2EB", "#FFCE56" ]' :grid="true" :grid-text-weight="'bold'" :resize="true"></bar-chart>

  <hr>

  <img id="myImage" src="" alt="">

  <q-btn icon="create" @click="tirarFoto()">Tirar Foto</q-btn>

</div>
</template>

<script>
import {
  QBtn,
  LocalStorage
} from 'quasar'
import Raphael from 'raphael/raphael'
global.Raphael = Raphael
import {
  DonutChart,
  BarChart
} from 'vue-morris'
export default {
  data () {
    return {
      donutData: [{
        label: 'Red',
        value: 300
      },
      {
        label: 'Blue',
        value: 50
      },
      {
        label: 'Yellow',
        value: 100
      }
      ],
      barData: [{
          year: 2012,
          and: 10,
          ios: 5,
          win: 2
        },
        {
          year: 2013,
          and: 20,
          ios: 15,
          win: 3
        },
        {
          year: 2014,
          and: 20,
          ios: 25,
          win: 2
        },
        {
          year: 2015,
          and: 40,
          ios: 20,
          win: 1
        }
      ],
      barYKeys: ['and', 'ios', 'win'],
      labels: ['android', 'ios', 'windows']
    }
  },
  components: {
    DonutChart,
    BarChart,
    QBtn,
    LocalStorage
  },
  methods: {
    tirarFoto () {
      navigator.camera.getPicture(function(imageData) {
        var image = document.getElementById('myImage')
        image.src = 'data:image/jpeg;base64, ' + imageData
        alert('Success: ' + image.src)
        cordova.plugins.backgroundMode.moveToForeground()
      }, function(error) {
        alert('Failed because: ' + error)
      }, {
        quality: 16,
        destinationType: Camera.DestinationType.DATA_URL,
        targetWidth: 200,
        targetHeight: 200,
        saveToPhotoAlbum: true
      })
    }
  }
}
</script>

<style>
</style>
