<template>
  <q-layout
    ref="layout"
    view="lHh Lpr fff"
    :left-class="{'bg-grey-2': true}"
  >
    <q-toolbar slot="header" class="glossy">
      <q-btn
        flat
        @click="$refs.layout.toggleLeft()"
      >
        <q-icon name="menu" />
      </q-btn>

      <q-toolbar-title>
        ABS
        <div slot="subtitle">ABS - Sistema</div>
      </q-toolbar-title>
    </q-toolbar>

    <div slot="left">
      <!--
        Use <q-side-link> component
        instead of <q-item> for
        internal vue-router navigation
      -->

      <q-list no-border link inset-delimiter>
        <q-list-header>Menu Principal</q-list-header>
        <q-side-link item to="/">
          <q-item-side icon="home" />
          <q-item-main label="Home" sublabel="" />
        </q-side-link>
        <q-side-link item to="/produtos">
          <q-item-side icon="store" />
          <q-item-main label="Produtos" sublabel="" />
        </q-side-link>
        <hr>
        <q-item @click="sair()">
          <q-item-side icon="exit_to_app" />
          <q-item-main label="Sair" sublabel="" />
        </q-item>
      </q-list>
    </div>
    <!--
      Replace following <div> with
      <router-view /> component
      if using subRoutes
    -->
    <div class="layout-padding">
      <!-- Painel Principal -->
      <router-view></router-view>

    </div>
  </q-layout>
</template>

<script>
import {
  QLayout,
  QToolbar,
  QToolbarTitle,
  QBtn,
  QIcon,
  QList,
  QListHeader,
  QItem,
  QItemSide,
  QItemMain,
  LocalStorage,
  SessionStorage,
  QUploader,
  QSideLink
} from 'quasar'

import Router from '../router'

export default {
  name: 'index',
  components: {
    QLayout,
    QToolbar,
    QToolbarTitle,
    QBtn,
    QIcon,
    QList,
    QListHeader,
    QItem,
    QItemSide,
    QItemMain,
    QUploader,
    LocalStorage,
    QSideLink
  },
  data () {
    return {

    }
  },
  methods: {
    sair () {
      LocalStorage.clear()
      SessionStorage.clear()
      Router.replace('/login')
    }
  }
}
</script>

<style lang="stylus">
.logo-container
  width 255px
  height 242px
  perspective 800px
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
.logo
  position absolute
  transform-style preserve-3d
</style>
