<template>
  <div>
    <q-toolbar>
      <q-btn flat v-go-back="'/'">
        <q-icon name="arrow_back" />
      </q-btn>
      <q-toolbar-title>
        Login
      </q-toolbar-title>
    </q-toolbar>
    <div class="layout-view layout-padding">
      <q-field icon="mail">
        <q-input v-model="credentials.username" placeholder="E-mail de Acesso" class="full-width" />
      </q-field>
      <q-field icon="vpn_key">
        <q-input v-model="credentials.password" type="password" placeholder="Senha..." class="full-width" />
      </q-field>
      <q-btn color="primary" class="full-width" @click="submit()">Login</q-btn>
    </div>
  </div>
</template>

<script>
  import { GoBack, QBtn, QToolbar, QIcon, QToolbarTitle, QField, QInput } from 'quasar'
  import auth from '../../auth/login'
  export default {
    data () {
      return {
        credentials: {
          grant_type: 'password',
          client_id: 4,
          client_secret: 'gCVypB7BkA99WTzH12Z3XbsZiKRMbYmRBGyjDPR8',
          username: 'redhot@email.com',
          password: '123456'
        }
      }
    },
    methods: {
      submit () {
        auth.login(this.credentials, '/')
      }
    },
    components: { QBtn, QToolbar, QIcon, QToolbarTitle, QField, QInput },
    directives: { GoBack }
  }
</script>
